body {
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;   
    gap: 30px;

}

.leftPanel {
    width: 200px;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    border: 2px solid #2e8b57;
    text-align: center;
    
}

.healthBar {
    background-color: #e8f5e9;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 15px;
}

.Score {
    color:#1e7c1e
}

.gameArea {
    text-align: center;
}

.gameArea h1{
    color: #004080
}

canvas {
    margin-top: 10px;
    border: 2px solid black;
    background-color: #337dc2;
    border-radius: 10px;
}

.rightPanel {
    width: 250px;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    border: 2px solid #2e8b57;

}

.rightPanel h2 {
    text-align: center;
    color: #006400;
}

.rightPanel p {
    margin: 12px 0;
}

.buttonBox {
    display: flex;
    justify-content: center;
    gap: 10px;
}

button {
    width: 120px;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

#startBtn {
background-color: #28a745;
color: white;
}

#startBtn:hover {
background-color: #218838;
}

#resetBtn {
background-color: #dc3545;
color: white;
}

#resetBtn:hover {
background-color: #c82333;
}