
/* The body and general area*/
body {
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;   
    gap: 30px;

}

/* Left Panel side */
.leftPanel {
    width: 200px;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    border: 2px solid #2C6E63;
    text-align: center;
    
}

.healthBar {
    background-color: #FBE5B6;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 15px;
}

.Score {
    color: #2C6E63
}

/* Area in the center - The game*/

.gameArea {
    text-align: center;
}

.gameArea h1{
    color: #561217
}

canvas {
    margin-top: 10px;
    border: 2px solid black;
    background-color: #337dc2;
    border-radius: 10px;
}

/* Right Panel */
.rightPanel {
    width: 250px;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    border: 2px solid #2C6E63;

}

.rightPanel h2 {
    text-align: center;
    color: #561217;
}

.rightPanel p {
    margin: 12px 0;
}

/* buttons */

.buttonBox {
    display: flex;
    justify-content: center;
    gap: 10px;
}

button {
    width: 120px;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

#startBtn {
background-color: #F38218;
color: #FBE5B6;
}

#startBtn:hover {
background-color: #561217;
}

#resetBtn {
background-color: #561217;
color: #FBE5B6;
}

#resetBtn:hover {
background-color: #2C6E63;
}